<h1>Create a new post</h1>
<%= bootstrap_form_for :post do |f| %>
	<%= f.text_field :title, placeholder: 'Title'%>
	<%= f.text_field :link, placeholder: 'Link'%>
	<%= f.submit 'Submit your post' %>
<% end %>
